<!-- Navbar for all the pages -->
<div class="top">
    <!-- Title of Project -->
    <h2 class="title">BuzzNote</h2>

    <!-- Redirection Buttons -->
    <ul class="menu buttons">
        <li><button id="notes"><a href="/">Home</a></button></li>
        <li><button id="about"><a href="/aboutUs">About</a></button></li>
        <li><button id="Sign-up"><a href="/register">Sign Up</a></button></li>
        <li><button id="Log-in"><a href="/login">Log In</a></button></li>
        <li><button id="Logout"><a href="/">Logout</a></button></li>
    </ul>
</div>  