<!DOCTYPE html>
<html lang="en">
<!-- Including Head -->
<%- include('./partials/head.ejs') %>

<body class="error">
    <!-- Including Navbar -->
    <%- include('./partials/nav.ejs') %> 

    <section>
        <h2>Oops! Find some other page, this does not exist...</h2>
    </section>
</body>
</html>