<!DOCTYPE html>
<html lang="en">
<!-- Including Home -->
<%- include('./partials/head.ejs') %>
<body class="about-page">

  <!-- Including Navbar -->
    <%- include('./partials/nav.ejs') %>

    <!-- Main Body of Our Team Page -->
    <div class="wrapper">
        <h1>Meet Our Team</h1>
        <div class="team">

          <!-- Umang Harlalka -->
          <div class="team_member">
            <div class="team_img">
              <img src="umang.jpeg" alt="Team_image">
            </div>
            <h3>Umang Harlalka</h3>
            <p class="role">1NT18CS211</p>
            <p>We offer school websites, software, apps, design & compliance. All backed up by outstanding support and expert-led training.</p><br>
            <p>Email: 1nt18cs211.umang@nmit.ac.in</p>
          </div>

          <!-- Ritika Shrestha -->
          <div class="team_member">
            <div class="team_img">
              <img src="ritika.jpeg" alt="Team_image">
            </div>
            <h3>Ritika Shrestha</h3>
            <p class="role">1NT18CS200</p>
            <p>We offer school websites, software, apps, design & compliance. All backed up by outstanding support and expert-led training.</p><br>
            <p>Email: 1nt18cs200.ritika@nmit.ac.in</p>
          </div>

          <!-- Anand Jaiswal -->
          <div class="team_member">
            <div class="team_img">
              <img src="anand.jpeg" alt="Team_image">
            </div>
            <h3>Anand Jaiswal</h3>
            <p class="role">1NT18CS190</p>
            <p>We offer school websites, software, apps, design & compliance. All backed up by outstanding support and expert-led training.</p><br>
            <p>Email: 1nt18cs190.anand@nmit.ac.in</p>
          </div>
        </div>
    </div>	
</body>
</html>